<router-outlet></router-outlet>
<div class="content">
  <h3>Guitarras disponiveis </h3>
  <img class="content-img" src="../assets/electric-guitar.png">
</div>
<div class="content-information">
  <h4>Acesse o console.log!</h4>
</div>
<div class="content-buttons">
  <button (click)="getGuitars()">Atualizar</button>
  <button (click)="getGuitarById(2)">Detalhe Guitarra</button>
  <button (click)="postNewGuitar()">Nova Guitarra</button>
  <button (click)="putGuitarFunc(3)">Editar Guitarra</button>
  <button (click)="deleteGuitarFunc()">Deletar Guitarra</button>
</div>